p, h1, h2, h3 {
  color: #ccc;
  font-family: 'Montserrat', sans-serif;
}

ul{
  list-style-type: none;
}

.btn:focus {
  outline: 0;
}

.auth-logo {
  height: 40px;
}

.add-repository-button {
  position: relative;
  z-index: 2;
}

.btn.btn-circle {
  border-radius: 50px;
}
.btn.btn-outline {
  background-color: lightgrey;
}

/*http://bootsnipp.com/snippets/ZkpRl*/
.navbar-nav.navbar-right .btn {
  position: relative; z-index: 2;
  padding: 4px 20px;
  margin: 10px auto;
}

.navbar .navbar-collapse {
  position: relative;
}
.navbar .navbar-collapse .navbar-right > li:last-child {
  padding-left: 22px;
}
.navbar .nav-collapse {
  position: absolute;
  z-index: 1;
  top: 0; left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding-right: 120px;
  padding-left: 80px;
  width: 100%;
}

#Email1 {
  width: 100px;
}

#Password1 {
  width: 100px;
}


@media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 15px; padding-right: 15px; }

    .navbar .nav-collapse { margin: 7.5px auto; padding: 0; }
    .navbar .nav-collapse .navbar-form { margin: 0; }
    .nav-collapse>li { float: none; }
}

.navbar-white {
  background-color: #E3E3E3;
  border-bottom: 2px solid #181818;
}

.navbar-pink {
  background-color: #FFA3A3;
  border-bottom: 2px solid #FFA3A3;
}

.navbar-blue {
  background-color: #58A6FD;
  border-bottom: 2px solid #58A6FD;
}

.navbar-navy {
  background-color: #001C83;
  border-bottom: 2px solid #001C83;
}

.navbar-green {
  background-color: #00990D;
  border-bottom: 2px solid #00990D;
}

#branchOptions {
  position: absolute;
  display:none;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body .header {
  width: 100%;
  height: 10vh;
  background-color: #282828;
  border-bottom: 2px solid #181818;
  /* Modal Content/Box */
}

body .navbar {
  margin-bottom: 0px;
  font-size: 20px;
  z-index: 1;
}

body .navbar .dropdown-menu {
  z-index: 300;
  background-color: #282828;
  width: 250px;
  max-height: 300px;
  color: #ffffff;
  overflow-y: auto;
}

body .navbar .dropdown-menu a {
  color: #000;
  overflow-x: auto;
}

/*body .navbar .repo-name {
  margin-left: 30px;
}*/

/*body .navbar .branch-name {
  margin-left: 15px;
}*/

/*body .navbar .merge {
  margin-left: 20px;
}*/

body .navbar .fa-cloud-upload {
  margin-top: 8px;
}

body .navbar .fa-cloud-download {
  margin-top: 8px;
}
/*
body .navbar .dropdown-toggle {
  margin-top: 10px;
}*/


body .file-panel {
  width: 20%;
  height: 70vh;
  background-color: #282828;
  float: left;
  z-index: 0;
  overflow-y: auto;
}

body .file-panel .modified-files-header .select-all-message {
  width: 77.5%;
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}

body .file-panel .files-changed .modified-files-message {
  padding: 20px;
}

body .file-panel .files-changed .file {
  width: 99%;
  height: 10%;
  position: relative;
  overflow: hidden;
  border: 1px solid #fff;
}

body .file-panel .files-changed .file p {
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 80%;
}

body .file-panel .files-changed .file input {
  vertical-align: middle;
}

body .file-panel .files-changed .file:hover {
  opacity: 0.8;
}

body .file-panel .commit-panel .commit-message-input {
  resize: none;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 5px;
  height: 50px;
  border-radius: 5px;
  padding: 5px;
}

body .file-panel .commit-panel .commit-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
  border-radius: 10px;
  border: 0;
  padding: 0 15px;
  background-color: #39c0ba;
  color: #fff;
}

body .file-panel .commit-panel .commit-button:hover {
  opacity: 0.8;
}

body .body-panel {
  width: 80%;
  float: right;
  z-index: 0;
}

body .body-panel .project-panel {
  float: right;
  height: 100%;
  width: 20%;
}

body .body-panel .project-panel .project-window {
  width: 200px;
  height: 100%;
  background-color: #404040;
  overflow-y: scroll;
  overflow-x: scroll;
}

body .body-panel .project-panel .project-window .file-cell {
  color: #001C83;
  cursor: pointer;
}

body .body-panel .project-panel .project-window .dir-cell {
  cursor: pointer;
}

body .editor-component {
  z-index: -10;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #404040;
  color: #00990D;
}

body .body-panel .diff-panel {
  width: 0;
  height: 100%;
  float: left;
}

body .body-panel .diff-panel .diff-panel-body {
  width: 100%;
  height: 80vh;
  float: left;
  background-color: #282828;
  color: #fff;
  overflow-y: scroll;
}

body .body-panel .diff-panel .diff-panel-body div {
  padding: 1px 5px 1px 5px;
  white-space: pre;
  font-family: monospace;
}

body .body-panel .diff-panel .diff-panel-minimise:hover {
  background-color: #404040;
}

body .body-panel .graph-panel {
  width: 100%;
  float: right;
}

body .body-panel .graph-panel .network {
  width: 100%;
  height: 80vh;
  margin: 0;
  padding: 0;
  background-color: #181818;
}

body .body-panel .graph-panel .loadingContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #181818;
}

body .authenticate {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #181818;
  z-index: 30;
  box-sizing: border-box;
  color: #fff;
}

body .authenticate .input-group {
  margin-left: auto;
  margin-right:auto;
  text-align: center;
}

body .add-repository-panel {
  position: absolute;
  height: 80vh;
  width: 100%;
  background-color: #181818;
  z-index: -10;
  box-sizing: border-box;
}

body .add-repository-panel .add-repository-body {
  padding-left: 110px;
}

body .flex-container-col {
  display: flex;
  flex-direction: column;
}

body .flex-container-row {
  display: flex;
  flex-direction: row;
}

body .flex-empty-space {
  display: flex;
  flex-grow: 1;
  max-width: 22%;
}

body .add-repository-panel .back-button {
  float: left;
  position: absolute;
  padding: 15px;
  opacity: 0.7;
}

body .add-repository-panel .back-button:hover {
  opacity: 1;
}

body .add-repository-panel h1 {
  color: white;
}

body .add-repository-panel .open-local-repo {
  margin-top: 4px;
}

body .add-repository-panel p {
  display: inline-block;
  margin-right: 20px;
}

body .add-repository-panel .title {
  width: 100%;
}

body .add-repository-panel .title {
  margin-top: 20px;
}

body .add-repository-panel .block {
  width: 100%;
  height: 60px;
}

body .add-repository-panel .block p {
  display: inline-block;
  margin: 15px 0px;
}

body .add-repository-panel .left {
  float: left;
  width: 22%;
  height: 100%;
}

body .add-repository-panel .button {
  height: 100%;
}

body .add-repository-panel .recents-list {
  max-width: 700px;
  max-height: 200px;
  overflow-y:scroll;
}

body .navbar .iconbar {
  padding-left: 12px;
  margin-top: 14px;
  margin-bottom: 14px;
}

body .footer {
  width: 100%;
  height: 15vh;
  background-color: #282828;
  border-top: 2px solid #181818;
  position: fixed;
  bottom: 0;
  overflow-y: scroll;
}

body .footer p {
  margin: 0;
}

body .footer .git-command {
  margin: 10px;
}

.file-created {
  background-color: #84db00;
}

.file-modified {
  background-color: #ff7514;
}

.file-deleted {
  background-color: #ff2448;
}

#download-percentage {
  margin: 20px;
  margin-left: 2%;
  margin-right: 2%;
  width: 96%;
  height: 8px;
}

.download-speed {
  color: #999;
}

.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  border-radius: 4px;
}

.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  border-radius: 4px;
}

.nav-tabs>li>a {
  color: gray;
}

.account_group {
  display: inline-flex;
  float: right;
  padding-left: 8px;
  padding-top: 7px;
}

#github_account {
  display: none;
}

#github_avatar {
  alignment: right;
  vertical-align: center;
  border-radius: 50%;
  height: 36px;
  width: 36px;
}

#github_name {
  padding-top: 5px;
  color: #A9A9A9;
  text-transform: capitalize;
}

#signOut {
  padding-top: 9px;
  padding-right: 16px;
  color: #A9A9A9;
  alignment: left;
  font-size: x-large;
  text-decoration: none;
}

#signOut:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.divider {
  color: #575757;
  font-size: large;
  padding-top: 6px;
  padding-left: 6px;
  padding-right: 4px;
}

#modal {
  word-wrap: break-word;
  overflow: auto;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dropdown-container, .instructions {
  width: 400px;
  font-size: 14px;
  font-family: sans-serif;
  overflow: auto;
}

.instructions {
  width: 100%;
  text-align: center;
}

.dropdown-button {
  float: left;
  width: 100%;
  background: whitesmoke;
  padding: 10px 12px;

  cursor: pointer;
  border: 1px solid lightgray;
  box-sizing: border-box;
  
}

.dropdown-label, .dropdown-quantity {
  float: left;
}

.dropdown-quantity {
  margin-left: 4px;
}

.fa-filter {
  float: right;
}

.dropdown-list {
  margin-top:40px;
  float: left;
  width: 400px;
  position: absolute;
  border: 1px solid lightgray;
  border-top: none;
  box-sizing: border-box;
  padding: 10px 12px;
  z-index: 100;
  background-color:white;
}

div#listhere {
  margin: 10px 0;
  max-height: 200px;
  overflow-y: auto;
}

/* Loading indicator animation - taken from https://loading.io/spinner/rolling/-curve-bars-loading-indicator */
@keyframes lds-rolling {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@-webkit-keyframes lds-rolling {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.lds-rolling {
  width: 100%;
  height: 100;
  position: relative;
}
.lds-rolling div,
.lds-rolling div:after {
  position: absolute;
  width: 44px;
  height: 44px;
  border: 4px solid #337ab7;
  border-top-color: transparent;
  border-radius: 50%;
}
.lds-rolling div {
  -webkit-animation: lds-rolling 1s linear infinite;
  animation: lds-rolling 1s linear infinite;
  top: 100px;
  left: 100px;
}
.lds-rolling div:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.lds-rolling {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}
/* end of loading animation */
