<div class="authenticate" id="authenticate">

  <div id="splash">
    <div class="loading-animation">
      <div class="first-cube">
        <img class="cube-img" src="./assets/VisualGit_Logo.png"/>
      </div>
      <div class="second-cube">
        <img class="cube-img" src="./assets/VisualGit_Logo.png"/>
      </div>
    </div>
  </div>

    <form id="content" role="form" style="text-align:center; margin-top:100px; display: none">
      <label>
          <h1><img src="./assets/VisualGit_Logo.png" class="auth-logo"> VisualGit</h1>
      </label>
      <br><br>
      <div class="input-group" style="width:280px;">
        <input id="auth-username" type="text" class="form-control" placeholder="Username or Email" aria-describedby="basic-addon1">
      </div>
      <br>
  
      <div class="input-group" style="width:280px;">
        <input id="auth-password" type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
        <br><br>
        <p id="personalAccessTokenMsg" style="display: none;"><i>Your account has Two-Factor Authentication enabled.
          Please enter you personal access token, if you don't know
          how to setup a personal access token click <a (click)="personalAccessTokenHelp()">here</a></i></p>
      </div>
      <br>
      <input id="rememberLogin" type="checkbox"> Remember Login<br/>
  
      <br>
      <div>
        <button type="submit" style="width:280px;" class="btn btn-success" (click)="switchToMainPanel()">Sign In</button>
        <br>
      </div>
  
      <br>
      <button type="submit" style="width:280px;" class="btn btn-primary" onclick="hasSavedCredentials()">Load Saved Credentials</button>
      <br>
      <br>
  
      <button style="width:280px;" class="btn btn-link" (click)="openGitHubPasswordResetPage()">Forgot your password?</button>
  
      <br>
  
      <button style="width:280px;" class="btn btn-link" (click)="createNewAccount()">Create New Account?</button>
  
      <br>
      <button type="submit" style="width:280px;" class="btn btn-primary" onclick="switchToAddRepositoryPanel();
       continueWithoutSignIn();">Continue without sign in</button>
    </form>
</div>